* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1rem 5rem;
}

main h1 {
  margin-bottom: 1rem;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-flow: column wrap;
  align-content: center;
  margin: 1rem 0 3rem;
}

.exercise-1 div,
.exercise-3 div,
.exercise-4 div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-flow: row wrap;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
}

#exercise-3-counter {
  padding: 0 0.5rem;
  border: 1px solid black;
  border-radius: 32px;
}

.exercise-4 img {
  max-height: 60vh;
  max-width: 100%;
}

.exercise-5 {
  max-width: 600px;
  width: 100%;
}
